-
  let menu = [
    { url: '//www.notion.so/HashEx-Job-Board-34f9adc036044b82983c7f09c3193cdf', title: 'HashEx Job Board' },
    { url: '//hashex.org/', title: 'HashEx Audits' },
    { url: '//cryptexlock.me/', title: 'CryptEx Locker' }
  ]

footer
  .container
    .footer
      .footer-logo
        .footer-logo__image
          img(src='image/logo.png' srcset='image/logo@2x.png' alt='CryptEx Staking')
        .footer-logo__name
          | CryptEx
          br
          span Staking
      nav.footer-menu
        ul
          each link in menu
            li
              a(href=link.url target='_blank' title=link.title) #{ link.title }
      ul.footer-social
        li.footer-social__medium
          a(href='//medium.com/hashex-blog' target='_blank' title='Medium')
            svg
              use(href='image/icon/medium.svg#medium')
        li.footer-social__telegram
          a(href='//t.me/cryptexlocker' target='_blank' title='Telegram')
            svg
              use(href='image/icon/telegram.svg#telegram')
        li.footer-social__twitter
          a(href='//twitter.com/ExLocker' target='_blank' title='Twitter')
            svg
              use(href='image/icon/twitter.svg#twitter')
    .footer-info
      .footer-info__copyright
        p &copy; 2021 CryptEx. All Rights Reserved.
      nav.footer-info-menu
        ul
          li
            a(href='//cryptexlock.me/disclaimers' title='Privacy Policy') Privacy Policy
          li
            a(href='//cryptexlock.me/disclaimers' title='Terms Of Service') Terms Of Service
          li
            a(href='//cryptexlock.me/disclaimers' title='Cookie Policy') Cookie Policy
